button {
    padding: 20px 40px;
    margin-right: 15px;
    border-radius: 5px;
    background-color: #54849f;
    color: #333333;
    border: none;
    font-weight: bolder;
    font-size: large;

}
.counetr{
    text-align: center;
    color: #1ea7fd;

}
.counetrError{
    text-align: center;
    color: #f87171;
}
.disabled{
background-color: #47545b;
}


.active{
    background-color: #54849f;
}